<ion-view view-title="详细内容" hide-tabs="true">
	<ion-content has-subheader="false">
		  <div class="list card" style="padding-bottom:20px">
            <div class="item">
                <h2>{{bookinfo.title}}</h2>
                <p><span  class="utime">{{bookinfo.update_time*1000|date:"yyyy/MM/dd H:mm"}}</span> <span class="source">来源: {{bookinfo.source}}</span></p>
            </div>
            <div class="item item-body" ng-bind-html="bookinfo.detail.content">

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left energized">
                <a class="tab-item button button-clear button-energized" ng-click="viewAdd()" ng-disabled="infodis">
                    <i class="icon ion-thumbsup"></i>
                   {{infoView}}
                </a>
                <a class="tab-item button button-clear button-energized" ng-click="WXshare()">
                    <i class="assertive icon iconfont  icon-weixin"></i>
                </a>
                <a class="tab-item button button-clear button-energized" ng-click="WFshare()">
                    <i class="balanced icon iconfont  icon-pengyouquan"></i>
                </a>
            </div>
        </div>
	</ion-content>
</ion-view>
